* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    color: #4d4f62;
}
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    max-width: 311px;
}
.card {
    border-radius: 8px;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
    margin-bottom: 1.5em;
    padding: 1.3em;
}
h1, h2 {
    font-size: 24px;
    letter-spacing: 0.17px;
    line-height: 36px;
}
h1 {
    font-weight: 200;
    margin-bottom: 0;
}
h2 {
    font-weight: 600;
    margin-top: 0;
}
h3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.1px;
    opacity: 0.5;
    margin-bottom: 4.5em;
}
h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: left;
    margin: 0;
}
p {
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.09px;
    text-align: left;
    margin: .4em;
}
img {
    margin: 1.8em .3em 0 0;
    float: right;
}
#super {
    border-top: 3.55px solid #44d3d2;
}
#team {
    border-top: 3.55px solid #ea5454;
}
#karma {
    border-top: 3.55px solid #fcae4a;
}
#calculator {
    border-top: 3.55px solid #549ef2;
}
.attribution {
    display: none;
}

/* desktop view */
@media only screen and (min-width: 500px){
    main {
        max-width: 1100px;
    }
    #text {
        /* margin-top: -19em; */
    }
    #cardholder {
        display: flex;
        flex-direction: row;
    }
    .card {
        width: 350px;
        height: 250px;
        margin-right: 2em;
    }
    h1, h2 {
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 0.25px;
        margin: 0;
    }
    p {
        font-size: 15px;
        line-height: 25px;
        margin: 0;
    }
    #super {

    }
    #team {
        /* margin-top: -5em; */
    }
    #karma {
        
    }
    #calculator {
    }
}
